

@font-face {
    font-family: "flaticon_gilroy_digital_agency";
    src: url("../fonts/flaticon_gilroy_digital_agency.woff2?bb382bc3f02bdac3fe2b7b32dc311473") format("woff2"),
url("../fonts/flaticon_gilroy_digital_agency.woff?bb382bc3f02bdac3fe2b7b32dc311473") format("woff"),
url("../fonts/flaticon_gilroy_digital_agency.eot?bb382bc3f02bdac3fe2b7b32dc311473#iefix") format("embedded-opentype"),
url("../fonts/flaticon_gilroy_digital_agency.ttf?bb382bc3f02bdac3fe2b7b32dc311473") format("truetype"),
url("../fonts/flaticon_gilroy_digital_agency.svg?bb382bc3f02bdac3fe2b7b32dc311473#flaticon_gilroy_digital_agency") format("svg")
}

i[class^="flaticon2-"]:before, i[class*=" flaticon2-"]:before {
    font-family: "flaticon_gilroy_digital_agency" !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon2-facebook:before {
    content: "\f101";
}
.flaticon2-instagram:before {
    content: "\f102";
}
.flaticon2-linkedin:before {
    content: "\f103";
}
.flaticon2-email:before {
    content: "\f104";
}
.flaticon2-viber:before {
    content: "\f105";
}
.flaticon2-downward-arrow:before {
    content: "\f106";
}
.flaticon2-up-right-arrow:before {
    content: "\f107";
}
.flaticon2-medal:before {
    content: "\f108";
}
.flaticon2-phone:before {
    content: "\f109";
}
.flaticon2-team:before {
    content: "\f10a";
}
.flaticon2-rating:before {
    content: "\f10b";
}
.flaticon2-management:before {
    content: "\f10c";
}
.flaticon2-seo:before {
    content: "\f10d";
}
.flaticon2-diagram:before {
    content: "\f10e";
}
.flaticon2-market-analysis:before {
    content: "\f10f";
}
.flaticon2-market-analysis-1:before {
    content: "\f110";
}
.flaticon2-plan:before {
    content: "\f111";
}
.flaticon2-text:before {
    content: "\f112";
}
.flaticon2-design-thinking:before {
    content: "\f113";
}
.flaticon2-thinking:before {
    content: "\f114";
}
.flaticon2-trophy:before {
    content: "\f115";
}
.flaticon2-maps-and-flags:before {
    content: "\f116";
}
.flaticon2-phone-call:before {
    content: "\f117";
}
.flaticon2-sun:before {
    content: "\f118";
}
.flaticon2-burger-bar:before {
    content: "\f119";
}
.flaticon2-arrow-point-to-right:before {
    content: "\f11a";
}
.flaticon2-down-arrow:before {
    content: "\f11b";
}
.flaticon2-saving:before {
    content: "\f11c";
}
.flaticon2-time-passing:before {
    content: "\f11d";
}
.flaticon2-phone-call-1:before {
    content: "\f11e";
}
.flaticon2-content-management:before {
    content: "\f11f";
}
.flaticon2-digital-strategy:before {
    content: "\f120";
}
.flaticon2-brand-guidelines:before {
    content: "\f121";
}
.flaticon2-approved:before {
    content: "\f122";
}
.flaticon2-diagonal-arrow:before {
    content: "\f123";
}
.flaticon2-left:before {
    content: "\f124";
}
.flaticon2-user:before {
    content: "\f125";
}
.flaticon2-right-arrow:before {
    content: "\f126";
}
.flaticon2-search:before {
    content: "\f127";
}
.flaticon2-quote:before {
    content: "\f128";
}
.flaticon2-add:before {
    content: "\f129";
}
.flaticon2-minus:before {
    content: "\f12a";
}
.flaticon2-down-chevron:before {
    content: "\f12b";
}
.flaticon2-folder:before {
    content: "\f12c";
}
.flaticon2-download:before {
    content: "\f12d";
}
.flaticon2-star:before {
    content: "\f12e";
}
.flaticon2-check:before {
    content: "\f12f";
}
.flaticon2-double-tick-indicator:before {
    content: "\f130";
}
.flaticon2-location:before {
    content: "\f131";
}
.flaticon2-calendar:before {
    content: "\f132";
}
.flaticon2-wallet-filled-money-tool:before {
    content: "\f133";
}
.flaticon2-arrow-right:before {
    content: "\f134";
}
.flaticon2-upload:before {
    content: "\f135";
}
.flaticon2-businessman:before {
    content: "\f136";
}
.flaticon2-chat:before {
    content: "\f137";
}
.flaticon2-play:before {
    content: "\f138";
}
.flaticon2-chat-1:before {
    content: "\f139";
}
.flaticon2-star-1:before {
    content: "\f13a";
}
.flaticon2-grocery-store:before {
    content: "\f13b";
}
.flaticon2-twitter:before {
    content: "\f13c";
}
