/*
 * Font size style declarations for each variation.
 *
 * Observation: Note that the amount of classes here
 * rely on how many variations you set on $.rvFontsize() call.
 *
 * This classes are required to make rv font size jquery plugin works.
 */

.tx-1 p, .tx-1 li,.tx-1 .documentation_item .media-body h5{ font-size: 70%}
.tx-2 p, .tx-2 li,.tx-2 .documentation_item .media-body h5{ font-size: 80%}
.tx-3 p, .tx-3 li,.tx-3 .documentation_item .media-body h5{ font-size: 90%}
.tx-4 p, .tx-4 li{ font-size: 95%; line-height: 2;}
.tx-5 p, .tx-5 li,.tx-5 .documentation_item .media-body h5{ font-size: 110%}
.tx-6 p, .tx-6 li,.tx-6 .documentation_item .media-body h5{ font-size: 120%}
.tx-7 p, .tx-7 li,.tx-7 .documentation_item .media-body h5{ font-size: 130%}
.tx-4 .documentation_item .media-body h5{
    font-size: 18px;
}
.tx-1 .shortcode_title h2{
    font-size: 10px;
}
.tx-2 .shortcode_title h2{
    font-size: 20px;
}
.tx-3 .shortcode_title h2{
    font-size: 25px;
}
.tx-4 .shortcode_title h2{
    font-size: 30px;
}
.tx-5 .shortcode_title h2{
    font-size: 35px;
}
.tx-6 .shortcode_title h2{
    font-size: 40px;
}
.tx-7 .shortcode_title h2{
    font-size: 45px;
}